<div>
    <div class="panel panel-default filters">
        <div class="panel-heading">Filters</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="input-group col-xs-12 col-md-8 col-md-offset-2">
                    <span class="input-group-addon">Name</span>
                    <input type="text" class="form-control" placeholder="Start typing the name to filter..." ng-keyup="Ctrl.resetScroll()" ng-model="nameFilter">
                </div>
                <div style="margin-top:15px;">
                    <div class="input-group col-xs-12 col-md-8 col-md-offset-2">
                        <select id="jobsSelect" class="form-control" ng-model="selectedJob" ng-change="Ctrl.resetScroll()">
                            <option value="">Select a job</option>
                            <option ng-repeat="profession in professions" value="{{profession}}">{{profession}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default filters">
        <div class="panel-heading">Sorting</div>
        <div class="panel-body">
            <div class="list-group text-center col-xs-12 col-md-8 col-md-offset-2 ">
                <a href="#" class="list-group-item active">Name</a>
                <a href="#" class="list-group-item">Age</a>
                <a href="#" class="list-group-item">Weight</a>
                <a href="#" class="list-group-item">Height</a>
            </div>
        </div>
    </div>
    <div class="row" infinite-scroll="Ctrl.addMoreItems()" >
        <gnome data="gnome" ng-repeat="gnome in gnomeListFiltered = (gnomeList | gnomeFilter: this) | limitTo: limitTotalElements "></gnome>
    </div>
</div>